@page
@model ForgotPasswordConfirmation
@{
  ViewData["Title"] = "Forgot password confirmation";
}

@section PageHeading {
  <div class="col-xl-12">
    <h2 class="fs-xxl fw-500 text-white text-center">
      
      <small class="h3 fw-300 mt-3 mb-5 text-white opacity-60 hidden-sm-down">
        请检查您的电子邮件，重新设置您的密码.
      </small>
    </h2>
  </div>
}
 

