@{ 
	ViewData["Title"] = "General Docs";
	ViewData["PageName"] = "docs_general";
	ViewData["Heading"] = "<i class='subheader-icon fal fa-book'></i> Documentation: <span class='fw-300'>General Docs</span>";
	ViewData["Category1"] = "Documentation";
	ViewData["PageDescription"] = "Product documentation, plugin reference, and online help";
}
<div class="alert alert-danger alert-dismissible p-2 mb-4">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">
            <i class="fal fa-times"></i>
        </span>
    </button>
    <div class="d-flex flex-start w-100">
        <div class="mr-2 hidden-sm-down">
            <span class="icon-stack icon-stack-lg">
                <i class="base-14 icon-stack-3x color-primary-400"></i>
                <i class="base-14 icon-stack-2x color-primary-600 opacity-70"></i>
                <i class="fal fa-newspaper icon-stack-1x text-white opacity-90"></i>
            </span>
        </div>
        <div class="d-flex flex-fill">
            <div class="flex-fill">
                <span class="h5">To access the full documentation, instructions and/or tutorials please purchase the SmartAdmin Responsive WebApp <strong>Full</strong> edition on WrapBootstrap: <a href="https://wrapbootstrap.com/theme/smartadmin-responsive-webapp-WB0573SK0?ref=Walapa" rel="nofollow">SmartAdmin Responsive WebApp</a>.</span>
            </div>
        </div>
    </div>
</div>