@model SmartAdmin.Data.Models.Customer
@{
  Layout = null;
}
<div id="panel-1" class="panel">

  <div class="panel-container show">

    <div class="panel-content p-0">
      <form id="customer-form" class="needs-validation" asp-action="AddOrEdit" novalidate>
        <input type="hidden" asp-for="Id"/>
        
        <div class="panel-content">
          <div asp-validation-summary="ModelOnly" class="text-danger"></div>
          <div class="form-row">
            <div class="col-md-6 mb-3">
              <label class="form-label" asp-for="Name">  </label>
              <input type="text" class="form-control" asp-for="Name" required maxlength="50">
              <div class="invalid-feedback" asp-validation-for="Name">
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label" asp-for="Contect">  </label>
              <input type="text" class="form-control" asp-for="Contect" maxlength="12">
              <div class="invalid-feedback" asp-validation-for="Contect">
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-6 mb-3">
              <label class="form-label" asp-for="PhoneNumber">  </label>
              <input type="text" class="form-control" asp-for="PhoneNumber" maxlength="20">
              <div class="invalid-feedback" asp-validation-for="PhoneNumber">
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label" asp-for="Address">  </label>
              <input type="text" class="form-control" asp-for="Address" maxlength="50">
              <div class="invalid-feedback" asp-validation-for="Address">
              </div>
            </div>
          </div>


        </div>
        <div class="panel-content border-faded border-left-0 border-right-0 border-bottom-0 d-flex flex-row align-items-center">
          <button class="btn btn-primary ml-auto" type="submit">Submit</button>
        </div>
      </form>
      <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
          'use strict';
          window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
              form.addEventListener('submit', function (event) {
                if (form.checkValidity() === false) {
                  event.preventDefault();
                  event.stopPropagation();
                } else {
                  event.preventDefault();
                  event.stopPropagation();
                  var request = $('#customer-form').serializeJSON();
                  console.log(request)
                  $.post('/Customers/AddOrEdit', {
                    __RequestVerificationToken: request.__RequestVerificationToken,
                    request
                  }).done(res => {
                    if (res.success) {
                      $('#customer-modal').modal('toggle');
                      reload();
                      toastr.success("保存成功");
                    }
                    else {
                      $.messager.alert('错误', res.err)
                    }
                  });
                  
                }
                form.classList.add('was-validated');
              }, false);
            });
          }, false);
        })();

      </script>
    </div>
  </div>
</div>

