<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
      throwConfigExceptions="true"
      internalLogToConsoleError="true"
      internalLogLevel="error"
      >
  <targets>
    <target name="logfile" xsi:type="File" fileName="nlog.txt" />
    <target name="database"
            xsi:type="Database"
            connectionString="${configsetting:item=ConnectionStrings.SmartDbContext}"
            dbProvider="sqlserver"
            commandType="Text"
            commandText="INSERT INTO [dbo].[AspNetLogs] (
      [MachineName], [Logged], [Level], [Message],
      [Logger], [Callsite], [Exception],[Properties],
      [Identity],[RequestIp],[SiteName],[RequestForm],[Resolved],
      [UserAgent]
    ) values (
      @MachineName, @Logged, @Level, @Message,
      @Logger, @Callsite, @Exception,@Properties,
      @Identity,@RequestIp,@SiteName,@RequestForm,0,
      @UserAgent
    )" >
      <parameter name="@RequestForm"    layout="${aspnet-request-form} " />
      <parameter name="@SiteName"       layout="${iis-site-name}" />
      <parameter name="@Identity"       layout="${aspnet-user-identity}" />
      <parameter name="@MachineName"    layout="${machinename}" />
      <parameter name="@Logged"         layout="${date}" />
      <parameter name="@Level"          layout="${level}" />
      <parameter name="@Message"        layout="${message}" />
      <parameter name="@Logger"         layout="${logger}" />
      <parameter name="@Properties"     layout="${all-event-properties:separator=|}" />
      <parameter name="@Callsite"       layout="${callsite}" />
      <parameter name="@Exception"      layout="${exception:format=toString}" />
      <parameter name="@RequestIp"       layout="${aspnet-request-ip}" />
      <parameter name="@UserAgent"       layout="${aspnet-request-useragent}" />
    </target>
  </targets>
  <rules>
    <logger name="Hangfire.*" minlevel="Warn" writeTo="database" final="true" />
    <logger name="Hangfire.*" maxLevel="Warn" final="true" />
    <!-- BlackHole -->
    <logger name="*"   minlevel="Fatal" writeTo="logfile" final="true" />
    <logger name="*" minlevel="Trace" writeTo="database" />
  </rules>
</nlog>